$font: 'Raleway', cursive;
$bcg-color-opacity: rgba(0, 0, 0, 0.4);
$media-desktop: 825px;
$primary-color: white;
$secondary-color: black;
$font-color: pink;
$shadow: 2px 2px 2px #FFF;
$font-weight: bold;
$width-total: 100%;
